<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732908813411-9qidilgj5ko9j1j6tr21n7rerf64o4vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732908813411-9qidilgj5ko9j1j6tr21n7rerf64o4vr</string>
	<key>API_KEY</key>
	<string>AIzaSyB9MfAsqdSbqXJsVzRDBBjrJjyYoKGBAh0</string>
	<key>GCM_SENDER_ID</key>
	<string>732908813411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mess</string>
	<key>PROJECT_ID</key>
	<string>iiitmess-ce93f</string>
	<key>STORAGE_BUCKET</key>
	<string>iiitmess-ce93f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732908813411:ios:018cdbfc7b8cacd7228c56</string>
</dict>
</plist>
